# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CRAN2/out/
CRAN2/.cproject
CRAN2/src/Makefile
CRAN2/src/CRAN2_dbg
CRAN2/simulations/.qtenvrc
CRAN2/simulations/.cmdenv-log
CRAN2/simulations/*.anf
CRAN2/simulations/*.csv
CRAN2/simulations/results/
CRAN2/.settings/
CRAN2/src/PktMessage_m.*
CRAN2/.computed/
CRAN2/.cmdenv-log
.cmdenv-log
/.metadata/
.project
CRAN2/.cproject
**/results
CRAN2/.qtenvrc
*.csv
/csv_results/
/plots/